pyramid==2.0
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
cx-Oracle==6.0.2
defusedxml==0.5.0
Django==2.2.7
django-annoying==0.10.3
django-background-tasks==1.1.11
django-bootstrap-form==3.2.1
django-bootstrap3==4.11.0
django-compat==1.0.14
django-dotenv==1.4.1
django-oracle-drcp==1.0.1
django-saml2-auth==2.2.0
future==0.16.0
huey==1.3.1
idna==2.7
numpy==1.14.3
pandas==0.22.0
Pillow==5.0.0
pycparser==2.18
pyOpenSSL==18.0.0
pysaml2==4.5.0
python-dateutil==2.7.2
pytz==2017.2
redis==2.10.5
reportlab==3.4.0
requests==2.19.1
six==1.11.0
template-utils===0.4p2
urllib3==1.23
whitenoise==3.3.0
xlrd==1.0.0
XlsxWriter==0.9.9
boto3==1.19.1
